html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #333333;
}

#topBanner {
  width: 100%;
  height: 20%;
  background-color: #5093b7;
  background-image: -webkit-linear-gradient(top, #5093b7, #4580a0);
  background-image: -moz-linear-gradient(top, #5093b7, #4580a0);
  background-image: -ms-linear-gradient(top, #5093b7, #4580a0);
  background-image: -o-linear-gradient(top, #5093b7, #4580a0);
  background-image: linear-gradient(to bottom, #5093b7, #4580a0);
}

#logo {
  background-image: url("logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto 100%;
  width: 100%;
  height: 100%;


}

#infoPage {
  background-color: #333333;
  height: 75%;
  width: 100%;
}

#reporting {
  background-color: #70952e;
  height: 10%;
  width: 80%;
  margin: auto;
  border-radius: 0% 0% 30% 30%;
  background-image: -webkit-linear-gradient(top, #70952e, #546e23);
  background-image: -moz-linear-gradient(top, #70952e, #546e23);
  background-image: -ms-linear-gradient(top, #70952e, #546e23);
  background-image: -o-linear-gradient(top, #70952e, #546e23);
  background-image: linear-gradient(to bottom, #70952e, #546e23);
  display: table;
  box-shadow: -1px 4px 15px -8px black;
  /*position: relative;*/
}

#chatStats,
#conversations,
#devicesQuoted {
  font: 1.5vw verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: Transparent;
  display: table-cell;
}

#chatStats:hover,
#conversations:hover,
#devicesQuoted:hover,
#border1:hover {
  background-color: Transparent;
  text-shadow: #5093b7 1px 0 10px;
}

#chatStats:focus,
#conversations:focus,
#devicesQuoted:focus,
#border1:focus {
  outline: 0px;
  background-color: Transparent;
  text-shadow: #5093b7 1px 0 10px;
}

#chatStats {
  height: 50%;
  width: 33%;
  position: relative;
}

#conversations {
  height: 100%;
  width: 33%;
  position: relative;
  /*left: 33%;*/
}

#devicesQuoted {
  height: 100%;
  width: 33%;
  position: relative;
  /*left: 70%;*/
}


#chatStats #tooltip1 {
  visibility: hidden;
  width: 70px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: relative;
  z-index: 1;
  font-size: 12px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 2s;
}

#close:hover #tooltip {
  visibility: visible;
  opacity: .75;
  transition-delay: .2s;

}

#searchTool {
  top: -65%;
  /*left: 45%;*/
  margin: auto;
  position: relative;
  height: 40px;
  width: 330px;
}

#display {
  display: none;
  height: 30px;
  width: 140px;
  /*top: -70%;*/
  /*left: 45%;*/
  margin: auto;
  position: relative;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}



#search {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-color: #5093b7;
  font: verdana, sans-serif;


}

#search:focus {
  width: 100%;
  /*left: 35%;*/
}

#search:focus {
  outline: 0px;
}

#tableDiv {
  top: -60%;
  width: 80%;
  margin: auto;
  position: relative;
}

#tableTitle {
  text-align: center;
}


#radio {
  display: none;
  position: relative;
  top: -90%;
  left: 98%;
  font-size: 16px;
  font: verdana, sans-serif;
  -webkit-transition: display 0.4s ease-in-out;
  transition: display 0.4s ease-in-out;
  color: white !important;

}

#price:hover {
  background-color: #ccc;

}

#tableFields,
.w3-indigo {
  background-color: #5093b7 !important;
}

#formUploadHide {
  display: hidden;
  left: 0px;
  top: 0px;
  height: 1px;
  width: 1px;
  position: absolute;
}

#uploadForm {
  position: absolute;
  top: 10px;
  left: 77%;
}

#dbTitle{
  color: white;
}

#fileData{
  color: white;

}
#fileData:focus {
  outline: 0px;
}

#submitButton{
  left: 1300px;
}

#footer {
  position: absolute;
}

